BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sw[0]" SITE "M7" ;
LOCATE COMP "sw[1]" SITE "M8" ;
LOCATE COMP "sw[2]" SITE "M9" ;
LOCATE COMP "led[0]" SITE "N13" ;
LOCATE COMP "led[1]" SITE "M12" ;
LOCATE COMP "led[2]" SITE "P12" ;
LOCATE COMP "led[3]" SITE "M11" ;
LOCATE COMP "led[4]" SITE "P11" ;
LOCATE COMP "led[5]" SITE "N10" ;
LOCATE COMP "led[6]" SITE "N9" ;
LOCATE COMP "led[7]" SITE "P9" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
