BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "led[0]" SITE "M2" ;
LOCATE COMP "led[1]" SITE "N2" ;
LOCATE COMP "led[2]" SITE "P2" ;
LOCATE COMP "led[3]" SITE "M3" ;
LOCATE COMP "led[4]" SITE "N3" ;
LOCATE COMP "led[5]" SITE "P4" ;
