BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "a[0]" SITE "M7" ;
LOCATE COMP "a[1]" SITE "M8" ;
LOCATE COMP "led[0]" SITE "N13" ;
LOCATE COMP "led[1]" SITE "M12" ;
LOCATE COMP "led[2]" SITE "P12" ;
LOCATE COMP "led[3]" SITE "M11" ;
