BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "dir" SITE "M7" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "led[0]" SITE "N13" ;
LOCATE COMP "led[1]" SITE "M12" ;
LOCATE COMP "led[2]" SITE "P12" ;
LOCATE COMP "led[3]" SITE "M11" ;
