BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sw[0]" SITE "M7" ;
LOCATE COMP "sw[1]" SITE "M8" ;
LOCATE COMP "sw[2]" SITE "M9" ;
LOCATE COMP "led[0]" SITE "M2" ;
LOCATE COMP "led[1]" SITE "N2" ;
LOCATE COMP "led[2]" SITE "P2" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
