BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst_n" SITE "L14" ;
LOCATE COMP "clkout" SITE "N13" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clkout" IO_TYPE=LVCMOS33 ;
