BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "key" SITE "M13" ;
LOCATE COMP "led" SITE "N13" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led" IO_TYPE=LVCMOS33 ;
