BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "set" SITE "M13" ;
LOCATE COMP "j" SITE "M7" ;
LOCATE COMP "k" SITE "M8" ;
LOCATE COMP "q" SITE "N13" ;
LOCATE COMP "qb" SITE "M12" ;
