BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "cnt[0]" SITE "N13" ;
LOCATE COMP "cnt[1]" SITE "M12" ;
LOCATE COMP "cnt[2]" SITE "P12" ;
LOCATE COMP "cnt[3]" SITE "M11" ;
LOCATE COMP "cnt[4]" SITE "P11" ;
LOCATE COMP "cnt[5]" SITE "N10" ;
LOCATE COMP "cnt[6]" SITE "N9" ;
LOCATE COMP "cnt[7]" SITE "P9" ;
