BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "q" SITE "M7" ;
LOCATE COMP "u" SITE "M8" ;
LOCATE COMP "n" SITE "M9" ;
LOCATE COMP "b" SITE "M10" ;
LOCATE COMP "d" SITE "L14" ;
LOCATE COMP "led1" SITE "N13" ;
LOCATE COMP "led2" SITE "M12" ;
